body{
    background: -webkit-linear-gradient(to right, #000000, #434343); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000000, #434343);
}

.searcharea {
    background-color: #3e4444;
    padding: 20px;
    float: right;
}

.uvindex {
    padding: 5px;
}

.one-fifth {
    box-sizing: border-box;
    width: 20%;
    margin: 5px;
    padding: 5px;
    
}

.one-fifth:first-child {
    margin-left: 0px;
}

.one-fifth:last-child{
    margin-right: 0px;
}

.forecast {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px;
}

#searchbtn{
    padding: 6px 5px 0px 5px;

}

.clear{
    padding-left: 100px;
}

iframe{
    display: block;
    align-content: center;
}

h3{
    color: white;
}

#videoDiv{
    float: right;
}

#video-card{
    align-content: center;
    text-align: center;
    margin: auto;
}
